<h3>Thank you for your time</h3>
<p>
    Add your e-mail address if you want to be informed about the results of this test, otherwise simply close this page.
    If you have some comments or suggestions, write them in the section below.
</p>
<p>
    Francesco Foscarin
</p>

<form>
    <div class="form-group" data-bind="css: {'has-error': errors()['email']}">
        <label for="email-form_field_1" data-bind="css: {active: fields()['email']}, attr: {'data-error': errors()['email']}" class="control-label">email</label>
        <input id="email-form_field_1" data-bind="value: fields()['email']" type="text" class="form-control validate" aria-describedby="email-form_field_1_error">
        <span id="email-form_field_1_error" class="help-block" data-bind="text: errors()['email']"></span>
    </div>

    <div class="form-group" data-bind="css: {'has-error': errors()['comments']}">
        <label for="email-form_field_0" data-bind="css: {active: fields()['comments']}, attr: {'data-error': errors()['comments']}" class="control-label">comments</label>
        <!-- <input id="email-form_field_0" data-bind="value: fields()['comments']" type="text" class="form-control validate" aria-describedby="email-form_field_0_error"> -->
        <textarea data-bind="value: fields()['comments']" placeholder="Comments and suggestions"></textarea>
        <span id="email-form_field_0_error" class="help-block" data-bind="text: errors()['comments']"></span>
    </div>

    <!-- <div class="form-group" data-bind="css: {'has-error': errors()['user id']}">
        <label for="email-form_field_2" data-bind="css: {active: fields()['user id']}, attr: {'data-error': errors()['user id']}" class="control-label">user id</label>
        <input id="email-form_field_2" data-bind="value: fields()['user id']" type="text" class="form-control validate" aria-describedby="email-form_field_2_error">
        <span id="email-form_field_2_error" class="help-block" data-bind="text: errors()['user id']"></span>
    </div> -->
</form>


<div class="row">
    <a class="col-xs-2 btn btn-primary" data-bind="click: trigger.bind($data, 'send-mail-event')">Send</a>
</div>
