<h3>Harmonic Complexity Test</h3>

<p>
    This is a test that I will use to extract data on how we perceive the harmonic complexity.
    You have to complete a short survey and then some tests. All the instructions will be provided.
</p>
<p>
    The site is not optimized for mobile phones, so use your laptop for a better user experience.
    Prepare your <b>headphones</b> and when you are ready click on the button below.
</p>


<div class="row" id="button-row-home">
    <a class="col-xs-2 btn btn-primary pull-right" data-bind="click: trigger.bind($data,'start-survey-event')">Start Survey</a>
</div>
