<div id="loading-overlay" data-bind="visible: loading">loading...</div>

<div data-bind="visible: ready">

    <div data-bind="progress: { value: percentageValue, type: 'info', text: 'Complete', textHidden: false, animated: true, striped: true }"></div>

    <h3>Choose your favourite complexity value! (Test n. <span data-bind="text: testNumber"></span> ) </h3>
    <p>
        Every position of the slider is associated with sequences of chords that you will find less or more complex. Press the "play" button and move the slider below until you find the set of chord progressions that you like most.
        Then click the button "Next Test" and wait for the new test to load.
    </p>
    <p>
        When you move the slider the progression will stop and you need to press "play" to listen to the next progression.
    </p>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="row">
        <div id="icon1">
            <div class="icon1" data-bind="visible: !isPlaying()">
            <!-- <a id="play-icon" class="glyphicon glyphicon-play" data-bind="click: play">Play</a> -->
                <!-- <a type="button" class="btn btn-default btn-circle btn-lg" data-bind="click: play, enable: playButtonEnabled"><i class="fa fa-play fa-4x"></i></a> -->
                <button class="btn btn-md btn-default" data-bind="click: play, enable: playButtonEnabled" ><i class="fa fa-play fa-3x"></i></button>

            </div>
            <div class="icon1" data-bind="visible: isPlaying()">
            <!-- <a class="glyphicon glyphicon-pause" data-bind="click: pause">Pause</a> -->
                <!-- <button data-bind="click: pause"><i class="fa fa-pause-circle fa-4x" aria-hidden="true"></i></a> -->
                <button class="btn btn-md btn-default" data-bind="click: pause" ><i class="fa fa-pause fa-3x"></i></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="test-row">
            <b>simple</b>
            <input data-slider-id="slider1" data-slider-tooltip="hide" type="text" data-slider-min="0" data-slider-max="29" data-slider-step="1" data-slider-value="0" data-bind="sliderValue:{value: sliderValue}" />
            <b>complex</b>
        </div>
    </div>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="stepwizard">
        <div class="stepwizard-row">
            <div class="stepwizard-step">
                <a type="button" class="btn btn-default btn-circle" data-bind="css: button0Status" disabled="disabled" >1</a>
                <!-- <p></p> -->
            </div>
            <div class="stepwizard-step">
                <a type="button" class="btn btn-default btn-circle" data-bind="css: button1Status" disabled="disabled">2</a>
                <p></p>
            </div>
            <div class="stepwizard-step">
                <a type="button" class="btn btn-default btn-circle" data-bind="css:button2Status" disabled="disabled">3</a>
                <p></p>
            </div>
            <div class="stepwizard-step">
                <a type="button" class="btn btn-default btn-circle" data-bind="css: button3Status" disabled="disabled">4</a>
                <p></p>
            </div>
            <div class="stepwizard-step">
                <a type="button" class="btn btn-default btn-circle" data-bind="css: button4Status" disabled="disabled">5</a>
                <p></p>
            </div>
        </div>
    </div>


    <!-- <div class ="row">
        <div data-bind="visible: !isPlaying()">
            <!-- <a id="play-icon" class="glyphicon glyphicon-play" data-bind="click: play">Play</a>
            <a data-bind="click: play"><i class="fa fa-play-circle fa-4x" aria-hidden="true"></i></a>
        </div>
        <div data-bind="visible: isPlaying()">
            <!-- <a class="glyphicon glyphicon-pause" data-bind="click: pause">Pause</a>
            <a data-bind="click: play"><i class="fa fa-pause-circle fa-4x" aria-hidden="true"></i></a>
        </div>
    </div> -->

    <div class ="row" id="button-row">
        <div data-bind="visible: isLastTest()">
            <button class="col-xs-2 btn btn-primary pull-right" data-bind="click: sendPreference, disable : disableNextButton" >Send Preference</button>
        </div>
        <div data-bind="visible: !isLastTest()">
            <button class="col-xs-2 btn btn-primary pull-right" data-bind="click: nextTest, disable : disableNextButton" >Next Test</button>
        </div>
    </div>


</div>
