<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#landmark-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="landmark-menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <span data-bind="if: active() === 'final-page-view'">
            <c-final-page-view params="context: context" class="container"></c-final-page-view>
        </span>
        <span data-bind="if: active() === 'home-page'">
            <c-home-page params="context: context" class="container"></c-home-page>
        </span>
        <span data-bind="if: active() === 'survey-view'">
            <c-survey-view params="context: context" class="container"></c-survey-view>
        </span>
        <span data-bind="if: active() === 'test-view'">
            <c-test-view params="context: context" class="container"></c-test-view>
        </span>
        <span data-bind="if: active() === 'closing-page'">
            <c-closing-page params="context: context" class="container"></c-closing-page>
        </span>
        <span data-bind="if: active() === 'error-view'">
            <c-error-view params="context: context" class="container"></c-error-view>
        </span>
    </div>
</div>
