<div data-bind="visible: !surveyCompleted()">
    <h3>Survey</h3>
    <survey params="survey: model"></survey>
</div>


<div class="row" data-bind="visible: surveyCompleted">
<!-- <div class="row"> -->
    <p>
        You have completed the Survey. Click on the button to begin the test.
    </p>
    <a class="col-xs-2 btn btn-primary pull-right" data-bind="click: trigger.bind($data, 'send-survey-event')">Begin Test</a>
</div>
