body{margin:40px;}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step a[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 80%;
    height: 2px;
    margin-left: 10%;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

#icon1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 400px;
    margin: 20px 0 30px 0;
}

#test-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 400px;
}

#test-row b {
    margin: 0 30px 0 30px;
    font-size: 18pt;
}

#test-row #slider1 {
    height: 40px;
    margin-top: -5px;
    width: 300px;
}

#test-row #slider1 .slider-track{
    height: 25px;
    margin-top: -13px;
    border-radius: 25px;
}

#test-row #slider1 .slider-handle{
    height: 40px;
    width: 40px;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: 150px;
}

#button-row {
    margin-top: 30px;
}

#button-row-home {
    margin-top: 50px;
}
